.notification {
    color: rgb(4, 207, 4);
    background-color: #dbf8d7;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;

}

.error {
    color: rgb(255, 0, 0);
    background-color: #f8d7da;
}